In [18]:
import pymysql
import pandas as pd

In [17]:
db = pymysql.connect(host='127.0.0.1', user = 'root', password = 'eddy2080', db='nba_stats', charset = 'utf8mb4')

In [13]:
cursor = db.cursor(pymysql.cursors.DictCursor)

In [14]:
sql = "SELECT * FROM `player_general_traditional_totals`;"
cursor.execute(sql)
result = cursor.fetchall()

In [19]:
result = pd.DataFrame(result)
result.head()

,id,season_id,player_id,player_name,nickname,team_id,team_abbreviation,age,gp,w,...,blka_rank,pf_rank,pfd_rank,pts_rank,plus_minus_rank,nba_fantasy_pts_rank,dd2_rank,td3_rank,cfid,cfparams
0,1,1996-97,920,A.C. Green,None,0,1610612742,0,33,83,...,98,202,342,272,18,151,421,117,49,24
1,2,1996-97,243,Aaron McKie,None,0,1610612765,0,24,83,...,85,155,319,247,192,195,70,180,168,24
2,3,1996-97,1425,Aaron Williams,None,0,1610612763,0,25,33,...,290,120,117,152,192,284,337,282,219,24
3,4,1996-97,768,Acie Earl,None,0,1610612749,0,27,47,...,299,123,126,140,192,290,303,300,219,24
4,5,1996-97,228,Adam Keefe,None,0,1610612762,0,27,62,...,228,222,169,183,90,270,74,258,168,24